.text-div{
    margin: 20px 20px 20px 200px;
    display: inline-block;
}

.post-button{
    height: 30px;
    width: 70px;
    margin: 20px;
    display: inline-block;
    background-color: rgba(30, 126, 195, 0.913);
    color: white;
    vertical-align: top;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

